---
import CardBlog from "../components/CardBlog.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

let allPost = await Astro.glob("./posts/*/*.md");

allPost = allPost.sort(
	(fecha1, fecha2) =>
		new Date(fecha2.frontmatter.date).valueOf() -
		new Date(fecha1.frontmatter.date).valueOf(),
);
---

<Layout title="SazarCode's Blog">
	<Title title="" subtitle="" />
	<div
		class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
	>
		{allPost.map((p) => <CardBlog post={p} />)}
	</div>
</Layout>
