---
import Nav from "../components/Nav.astro";
import Title from "../components/Title.astro";
import Footer from "./Footer.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <Nav />
        <div class="container mx-auto px-4 py-8 max-w-3xl">
            <Title
                title={frontmatter.title}
                subtitle={frontmatter.description}
            />
            <div class="prose lg:prose-xl mt-12 text-lg font-mono">
                <div class="mt-4 space-x-2">
                    {
                        frontmatter.tags &&
                            frontmatter.tags.map((tag: string) => (
                                <span class="inline-block outline rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2">
                                    {tag}
                                </span>
                            ))
                    }
                </div>
                <slot />
            </div>
        </div>
        <Footer />
    </body>
</html>

<style is:global>
    html {
        font-family: monospace;
        font-size: 18px;
        background: #000000;
        background-size: 224px;
    }
    body {
        margin: 2em;
        line-height: 1.6;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    img {
        border-radius: 18px;
    }
    code {
        font-family: monospace;
    }
</style>
